.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox-container label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-item label {
    font-weight: 300;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
}

