.logged-out-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
    margin-bottom: 1rem;
}

.logged-out-info p {
    margin-left: .5rem;
}

.logged-out-container {
    display: flex;
    flex-direction: row;
    height: 95%;
}

.logged-out-container p {
    font-size: 1.25rem;
}

.logged-out-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    width: 50%;
}

.logged-out-description-top {
    height: auto;
}

.logged-out-description-top h1 {
    color: #AF5E36;
    font-size: 3.5rem;
    margin: 0rem;
}

.logged-out-top h2 {
    font-size: 1.75rem;
    margin: 0rem;
    margin-bottom: 2rem;
}
