.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
    margin-bottom: 1rem;
}

.info p {
    margin-left: .5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.container p {
    font-size: 1.25rem;
}

.top {
    height: auto;
}

.top h1 {
    color: #AF5E36;
    font-size: 3.5rem;
    margin: 0rem;
}

.top h2 {
    font-size: 1.75rem;
    margin: 0rem;
    margin-bottom: 2rem;
}
