.student-feedback-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    height: 95%; 
    overflow: hidden; /* Prevent overflow issues */
}

.make-feedback-section,
.past-feedbacks {
    flex: 1;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    overflow-y: auto; /* Allow inner scrolling if content exceeds */
}

.make-feedback-section {
    max-height: 90%;
    width: 90%;
    margin-left: 20px;
}

.past-feedbacks {
    max-height: 90%;
}

.make-feedback-section h2,
.past-feedbacks h2 {
    font-size: 40px;
    color: #AF5E36;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 25px;
}

.new-feedback-form {
    background-color: #F7ECE2;
    align-content: center;
    height:500px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

.new-feedback-form form {
    width: 100%;
    margin-top: -5%;
    margin-left: 5%;
}

.new-feedback-form label {
    font-size: 20px;
}

.new-feedback-form form div {
    margin-bottom: 15px;
    height: auto;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #a05010;
}

.studentfeedback-button {
    background-color: #a05010;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 75%;
}

.studentfeedback-button:hover {
    background-color: orange;
}

.feedback-card {
    background: #F6F0E9;
    margin-bottom: 20px;
    margin-left: 120px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 500px;
    height: 80px;
}

.feedback-card h3 {
    font-size: 22px;
    color: #333;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 10px;
    margin-left: 50px;
}

.feedback-card p {
    font-size: 14px;
    color: #666;
}

.folder {
    margin-right: 10px;
}

.feedback-input-button {
    margin-top: 10px;
}

.student-feedbackcard-description {
    font-size: 16px;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.feedback-attachments a {
    margin-left: 10px;
    text-decoration: none;
    color: #0077cc;
}

.feedback-attachments a:hover {
    text-decoration: underline;
}

.student-feedbackcard-date {
    font-size: 14px;
    color: #888;
    margin-left: 200px;
}
