.room-details-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .navigation .back-button {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: black;
  }
  
  .room-details-content {
    display: flex;
    justify-content: space-between;
  }
  
  .date-picker {
    flex: 1;
    text-align: center;
  }
  
  .room-information {
    margin-top: 22px;
    flex: 1;
    padding-left: 20px; /* Adjust as needed */
    text-align: center;
  }
  
  .room-information h2,
  .room-information p,
  .room-information h3 {
    margin: 10px 0; /* Spacing for readability */
  }
  
  .room-information ul {
    list-style-type: none; /* Removes bullets */
    padding: 0;
  }
  
  .room-information li::before {
    content: "✔️ ";
    color: green; /* Example, adjust as needed */
  }
  
  .booking-button {
    padding: 10px;
    background-color: orange; /* Placeholder, adjust to match your design */
    border: none;
    cursor: pointer;
  }
  
  .back-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .section-title1{
    font-size: 40px;
    color:#AF5E36;
    margin-bottom: 1.5rem;
    align-items: center;
    display: inline-block;
    position: relative;
    padding-bottom: 25px;
  }

  .section-title1::after {
    content: ''; /* Required: this enables the pseudo-element to appear */
    position: absolute;
    left:-15%;
    bottom: 0; /* Aligns the line at the bottom of the element */
    height: 2px; /* Thickness of the line */
    background-color: gray; /* Color of the line, change as needed */
    width: 600px; /* Makes the line as wide as the element */
  }

  .section-title2{
    font-size: 40px;
    color:#AF5E36;
    margin-bottom: 1.5rem;
    align-items: center;
    display: inline-block;
    position: relative;
    padding-bottom: 25px;
  }

  .section-title2::after {
    content: ''; /* Required: this enables the pseudo-element to appear */
    position: absolute;
    left:-40%;
    bottom: 0; /* Aligns the line at the bottom of the element */
    height: 2px; /* Thickness of the line */
    background-color: gray; /* Color of the line, change as needed */
    width: 600px; /* Makes the line as wide as the element */
  }
  
  